<div class="bootstrap-wrapper">
    <div class="container">
        <div class = "row">
            <div class="col-md-6 offset-md-3">
                <div class="container" text-center>
                    <img class = "img-fluid"
                    style = "width:100px; "
                    src = "/assets/bpsmv.jpg" alt ="logo" >
                </div>
                <h1 class = "text-center"> Login Here!</h1>
                <form 
                (ngSubmit)="onSubmit()" action="">

                    <mat-form-field class="full-width" name ="username" placeholder="Username">
                        <mat-label>
                            UserName
                        </mat-label>
                        <input name ="userName" [(ngModel)]="credentials.username" type="text" matInput required />
                    </mat-form-field>
                    <mat-form-field class="full-width" name ="password" placeholder="Enter your password">
                        <mat-label>
                            Password
                        </mat-label>
                        <input  name = "password" type="password" [(ngModel)]="credentials.password" matInput required />
                    </mat-form-field>
                    <div class = "container" text-center>
                        <button type = "submit" mat-raised-button color="primary">Login </button>
                        <button type = "reset" style = "margin-left: 10px;"mat-raised-button color="primary">Reset</button>
                    </div>
                </form>
                <!-- <p class ="mt">{{credentials | json}}</p>

                </p> -->
            </div>
        </div>
    </div>
</div>