<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container" text-center>
                     <h1>Registration Forms</h1>
                      <form action="">

                    <mat-form-field class="full-width" name ="username" placeholder="Username">
                        <mat-label>
                            UserName
                        </mat-label>
                        <input name ="userName" type="text" matInput required />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width" name ="password" placeholder="Enter your password">
                        <mat-label>
                            Password
                        </mat-label>
                        <input  name = "password" type="password" matInput required />
                    </mat-form-field>
<br>
                    
                    <mat-form-field class="full-width" name ="firstName" placeholder="Enter your firstName">
                        <mat-label>
                            firstName
                        </mat-label>
                        <input  name = "firstName" type="text" matInput required />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width" name ="MiddleName" placeholder="Enter your MiddleName">
                        <mat-label>
                            MiddleName
                        </mat-label>
                        <input  name = "MiddleName" type="text" matInput required />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width" name ="LastName" placeholder="Enter your LastName">
                        <mat-label>
                            LastName
                        </mat-label>
                        <input  name = "LastName" type="text" matInput required />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width" name ="emailId" placeholder="Enter your emailId">
                        <mat-label>
                            emailId
                        </mat-label>
                        <input  name = "emailId" type="email" matInput required />
                    </mat-form-field>
                    <div class = "container" text-center>
                        <button type = "submit" mat-raised-button color="primary">Login </button>
                        <button type = "reset" style = "margin-left: 10px;"mat-raised-button color="primary">Reset</button>
                    </div>
                </form>
                     </div>
                     
                     </div>

        </div>
    </div>
</div> -->