<div class="widget-container">
  <div class="widget">
    <div class="widget-icon-container">
      <span class="fa fa-user widget-icon"></span>
    </div>
    <div class="widget-text">
      <div class="widget-title">Student</div>
      <div class="widget-subtitle">400</div>
    </div>
  </div>
  <div class="widget">
    <div class="widget-icon-container">
      <span class="fa fa-user widget-icon"></span>
    </div>
    <div class="widget-text">
      <div class="widget-title">Teachers</div>
      <div class="widget-subtitle">100</div>
    </div>
  </div>
  <div class="widget">
    <div class="widget-icon-container">
      <span class="fa fa-user widget-icon"></span>
    </div>
    <div class="widget-text">
      <div class="widget-title">Fees</div>
      <div class="widget-subtitle">400K</div>
    </div>
  </div>

  <div class="widget">
    <div class="widget-icon-container">
      <span class="fa fa-user widget-icon"></span>
    </div>
    <div class="widget-text">
      <div class="widget-title">Revenue</div>
      <div class="widget-subtitle">1.2 Cr</div>
    </div>
  </div>
</div>
